@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */

body {
    background-color: #fdcfc4;
}

table {
    border: 1px solid gray;
}
.add-click {
    background-color: #c5b4af;
}

.edit {
    color: #46adfe;
}

.inp-product {
    box-shadow: 0 0 16px rgb(158 74 103 / 50%);
}

.inp-quantity {
    box-shadow: 0 0 16px rgb(158 74 103 / 50%);
}

.inp-price {
    box-shadow: 0 0 16px rgb(158 74 103 / 50%);
}

#overlay {
    background-color: rgb(99 52 52 / 50%);
}

.md-modal {
    background-color: #daa09e;
    border: 2px solid #9a6262;
    box-shadow: 23px 26px 39px 2px rgba(34, 60, 80, 0.2);

    box-shadow: 0 1px 4px rgb(0 0 0 / 25%), 
    -26px 0 45px -20px rgb(234 150 145), 
    20px 0 45px -20px rgb(234 150 145 / 80%), 
    0 0 40px rgb(0 0 0 / 15%) inset;
}

tr.strikeout td:before {
  border-bottom: 1px solid rgb(0, 0, 0);
}









